section.owlang_container {
	margin: 80px 150px 80px 150px;
}


/*-------------Fade-in effects-------------*/

/* homepage animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

/* subpage animation */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 2s;
  animation-name: animateleft;
  animation-duration: 2s;
  z-index: 0;
}

@-webkit-keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0px;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}
