section.owlang_container {
	margin: 80px 150px 80px 150px;
}

/* ------strong animation-------*/
strong {
  position: relative;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

strong::before {
  /* background-color: #ff4800; */
  -webkit-animation: 1s highlight 1s 1 normal forwards;
  animation: 1s highlight 1s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ff4800 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}


/*-------------Fade-in effects-------------*/

/* homepage animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

/* subpage animation */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 2s;
  animation-name: animateleft;
  animation-duration: 2s;
  z-index: 0;
}

@-webkit-keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0px;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}
