/* For homepage (index.html) formatting *

/*
Table of Contents
- Default Settings
  - strong animation
- Fade-in effects
- Nav bar
- Content
  - Homepage/Research Goals content
- responsive setting
*/

/*------------- Default Settings-------------*/
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Display&family=Tiro+Devanagari+Sanskrit&display=swap");

::selection {
  background: #ff4800;
  color: white;
}

h1 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Tiro Devanagari Sanskrit", serif;
  width: 90%;
  line-height: 1.5;
  font-size: 20px;
  padding: 50px 0px 30px 0px;
}

i {
  font-style: normal;
  font-size: 18px;
  /* color: #ff4800; */
}

a {
  color: black;
  vertical-align: bottom;
  text-decoration: none;
}

.hoverlink {
  font-family: "DM Serif Display", serif;
  cursor: pointer;
  vertical-align: bottom;
  color: black;
}

.hoverlink :hover {
  color: #ff4800;
  transform: scale(1.01);
  transition: ease-in-out 0.3s;
}

/*-------------0. Homepage/Research Goals content-------------*/

#homepage_content {
  margin: 20px 30px 0px 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 5%;
}

#left_photo {
  flex: 40%;
  align-self: flex-start;
}

#left_photo img {
  width: 100%;
  /* animation: photo-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both; */
}

#right_content {
  margin-top: 0px;
  flex: 60%;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
}

#owlang_socials_bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 50px;
}

#owlang_socials_bar span {
  font-size: 18px;
  display: flex;
  align-items: center;
}

#owlang_socials_bar img {
  width: 18px;
  height: 18px;
}

.nav_link {
  padding-top: 50px;
}

.link_box {
  padding-top: 20px;
  border-bottom: 1px solid black;
  width: 95%;
}

.title_link {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.link_box :hover {
  color: #ff4800;
  transform: scale(1.01);
  transition: 0.3s;
}

.bi-arrow-right {
  font-size: 30px;
  /* border: 1px solid; */
  align-items: flex-end;
}

/*------------- responsive setting-------------*/

@media (max-width: 1920px) {
  i {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .link_box a {
    font-size: 22px;
  }

  .bi-arrow-right {
    font-size: 22px;
  }

  p {
    font-size: 16px;
    padding: 30px 0px 20px 0px;
  }

  .nav_link {
    padding-top: 20px;
  }

  #owlang_socials_bar span {
    font-size: 16px;
  }

  #owlang_socials_bar img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1680px) {

  i {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .link_box a {
    font-size: 22px;
  }

  .bi-arrow-right {
    font-size: 22px;
  }

  p {
    font-size: 16px;
    padding: 30px 0px 20px 0px;
  }

  .nav_link {
    padding-top: 20px;
  }

  #owlang_socials_bar span {
    font-size: 16px;
  }

  #owlang_socials_bar img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1536px) {

  i {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  .link_box a {
    font-size: 20px;
  }

  .bi-arrow-right {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    padding: 30px 0px 20px 0px;
  }

  .nav_link {
    padding-top: 20px;
  }

  #owlang_socials_bar span {
    font-size: 14px;
  }

  #owlang_socials_bar img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1000px) {
  i {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  .link_box a {
    font-size: 24px;
  }

  .bi-arrow-right {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    padding: 30px 0px 20px 0px;
  }

  .nav_link {
    padding-top: 20px;
  }

  #homepage_content {
    flex-flow: column nowrap;
  }

  #left_photo {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    align-self: center;
  }

  #left_photo img {
    width: 400px;
  }

  #right_content {
    margin-top: 30px;
  }

  #owlang_socials_bar span {
    font-size: 18px;
  }

  #owlang_socials_bar img {
    width: 16px;
    height: 16px;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}