/* For subpage (subpage/*.html) formatting */

/*
Table of Contents
- Default Settings
  - strong animation
- Fade-in effects
- Nav bar
- Content
  - History content
  - Research interests content
  - Publications/Presentations content
  - Outside the lab content
- responsive setting
*/


/*------------- Default Settings-------------*/
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Display&family=Tiro+Devanagari+Sanskrit&display=swap");

::selection {
  background: #ff4800;
  color: white;
}

.photo {
  min-width: 40%;
}

h1 {
  font-family: "DM Serif Display", serif;
}

h4 {
  font-family: "Tiro Devanagari Sanskrit", serif;
  font-weight: 600;
}

span {
  font-size: 18px;
}

p {
  font-family: "Tiro Devanagari Sanskrit", serif;
  width: 90%;
  line-height: 1.5;
  font-size: 20px;
  padding: 50px 0px 30px 0px;
}

i {
  font-style: normal;
  font-size: 18px;
  color: #ff4800;
}

a {
  color: #ff4800;
  vertical-align: bottom;
}

a:hover {
  color: #ff4800;
}

.active {
  background-color: #ff4800;
}

.customized_container {
	margin: 80px 150px 80px 150px;
  }

/* ------strong animation-------*/
strong {
  position: relative;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

strong::before {
  /* background-color: #ff4800; */
  -webkit-animation: 1s highlight 1s 1 normal forwards;
  animation: 1s highlight 1s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ff4800 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}


/*-------------Fade-in effects-------------*/
/* home animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

/* subpage animation */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 2s;
  animation-name: animateleft;
  animation-duration: 2s;
  z-index: 0;
}

@-webkit-keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0px;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -100px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}


/*-------------Nav bar-------------*/
.line_nav {
  display: flex;
  border-bottom: 1.5px solid;
  padding: 10px;
  font-family: "DM Serif Display", serif;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.copyright {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.nav-link:hover {
  color: #ff4800;
  transform: scale(1.05);
  transition: 0.3s;
}


/*-------------History content-------------*/
#content {
  margin: 60px 30px 30px 30px;
}

.circle {
  position: absolute;
  top: 17.4rem;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ff4800;
}

.timeline-line {
  border-bottom: 1.3px solid;
  padding: 10px;
  font-family: "DM Serif Display", serif;
  margin-top: 30px;
  opacity: 100;
}

.timeline-separator {
  border-bottom: 1.3px solid;
  opacity: 0;
}

/*-------------Research interests content-------------*/
.interest {
  margin: 50px 0px 40px 0px;
}

.ri_img {
  margin-top: 20px;
  width: 75%;
}

.sub_title {
  display: flex;
}

.icon {
  width: 26px;
  height: 26px;
}


/*-------------Publications/Presentations content-------------*/
.year {
  font-family: "Tiro Devanagari Sanskrit", serif;
  font-size: 24px;
  margin-top: 20px;
  border-top: 1.3px solid;
  padding-top: 20px;
}

.publication-link {
  font-family: "Tiro Devanagari Sanskrit", serif;
  font-size: 20px;
}

.publication {
  margin-top: 20px;
}


/*----------------- responsive setting--------------------*/
@media (max-width: 1680px) {

  /*Check*/
  /* body {
  background: rgb(224, 222, 222);
  } */
  .customized_container {
    margin: 80px;
  }

  .nav-link {
    font-size: 16px;
  }

  .copyright {
    font-size: 14px;
  }

  i {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 22px;
  }

  .bi-arrow-right {
    font-size: 22px;
  }

  p {
    font-size: 16px;
    padding: 30px 0px 20px 0px;
  }

  .circle {
    position: absolute;
    top: 15.9rem;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ff4800;
  }
}

@media (max-width: 1536px) {
  .circle {
    position: absolute;
    top: 16rem;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ff4800;
  }

}

@media (max-width: 1440px) {
  .circle {
    position: absolute;
    top: 16rem;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ff4800;
  }

}

@media (max-width: 1340px) {
  .circle {
    position: absolute;
    top: 15.6rem;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ff4800;
  }

  .nav-link {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  .circle {
    display: none;
  }

  .nav-link {
    font-size: 10px;
  }

  .copyright {
    font-size: 10px;
  }
}

@media (max-width: 1000px) {

  /* body {
  background: rgb(255, 179, 179);
  } */
  .customized_container {
    margin: 20px;
  }

  .circle {
    display: none;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .timeline-line {
    opacity: 0;
  }

  .timeline-separator {
    opacity: 100;
  }

  .publication {
    width: 100%;
  }

  #publication_content {
    width: 100%;
  }

  .lab {
    width: 100%;
  }

  .nav-link {
    font-size: 16px;
  }

  .copyright {
    font-size: 16px;
  }

  .year {
    width: 100%;
  }

  [class*="col-"] {
    width: 100%;
  }
}