---
layout: default
title: "Presentations"
---


<div class="publication-block" >
  <div class="publication-list">

    {% for item in site.data.talks %}
    
    <p>
      <a href="{{ item.conference-href }}">
        {{ item.conference-name }}
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
      <br>{{ item.conference-dates }}
      <br>{{ item.conference-location }}
      <br>"{{ item.title }}" &nbsp;<b>({{ item.type }})</b>

      {% if item.href %}

      <a href="{{ item.href }}">
        <i class="fa fa-file-image-o fa-md"></i>
      </a>

      {% endif %}

    </p>

    {% endfor %}

    </div>
</div>
